.start-div {
    min-height: 100vh;
}

.start-main-content {
    margin: auto;
}

.about {
    text-align: right;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 15px;
}
