.start-div {
    min-height: 100vh;
}

.start-main-content {
    display: flex;
    margin: auto;
}

.ui-g > .about {
    text-align: right;
    /* vertical-align: middle; */
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 15px;
}

.ui-g > div {
    text-align: center;
}

.ui-g > p {
    text-align: center;
}