.start-info{
    position: relative;
    margin-top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.start-info h1 {
    display: inline-block;
    vertical-align: bottom;
}

.start-call {
    display: flex;
    flex-direction: column;
    height: 100%;
}   

.stepper{
    font-weight: bold;
    background: none;
}

.mat-step-label{
    color: white;
}
