<div class="start-info">
  <div class="start-info-header">
    <img src="../../assets/images/phone.png" alt="Phone - QTalk" height="50px" width="50px" />
    <h1>Qtalk</h1>
  </div>
  <h3>Podaj imię, nazwę pokoju i zacznij rozmawiać!</h3>
  <mat-horizontal-stepper [linear]="true" class="stepper" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="formName">
      <form [formGroup]="formName">
        <ng-template matStepLabel>Wpisz imię</ng-template>
        <mat-form-field [color]="white">
          <input matInput placeholder="imię..." formControlName="name" required>
        </mat-form-field>
        <div>
          <button pButton matStepperNext type="button" label="Dalej"></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formRoomName">
      <form [formGroup]="formRoomName">
        <ng-template matStepLabel>Podaj nazwę pokoju</ng-template>
        <mat-form-field>
          <input matInput placeholder="nazwa pokoju..." formControlName="roomName" required>
        </mat-form-field>
        <div>
            <button pButton matStepperPrevious type="button" label="Wstecz"></button>
            <button pButton matStepperNext type="button" label="Dalej"></button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Generuj pokój</ng-template>
      Poniżej został stworzony kod do wygenerowanego pokoju

      <h3><strong>{{ numberOfRoom }}</strong></h3>
      <button pButton (click)="sharedServicesService.navigateToConversation(numberOfRoom,this.formName.get('name').value, this.formRoomName.get('roomName').value)" type="button" label="Wejdź do pokoju"></button>
      <div>
          <button pButton matStepperPrevious type="button" label="Wstecz"></button>
          <button pButton (click)="stepper.reset()" type="button" label="Resetuj"></button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
    <!-- TODO: brak narazie funkcjonalnosci kont -->
  <!-- <p>Masz konto? <button pButton type="button" label="Zaloguj się" (click)="sharedServicesService.navigateToLogin()"></button> Nie masz?<button pButton type="button" label="Stwórz konto" (click)="sharedServicesService.navigateToRegister()"></button></p> -->
</div>
